<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet" version="0.9.21" targetFramework="net46" />
  <package id="Jil" version="2.12.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="Sigil" version="4.5.0" targetFramework="net46" />
  <package id="SocketIoClientDotNet" version="0.9.12" targetFramework="net46" />
  <package id="WebSocket4Net" version="0.13.1" targetFramework="net46" />
</packages>